<div class="input-group">
    Name: {{input value=model.name}}
    {{model.name}}
</div>
<div class="input-group">
    Day price {{input value=model.daily_rate}}
</div>
<button {{action 'save'}}> Save</button>