<div class="input-group">
    Name: {{one-way-input value=newRentalModel.name}}
</div>
<div class="input-group">
    Day price {{one-way-input value=newRentalModel.daily_rate}}
</div>
<button {{action 'save'}}> Save</button>