<h1> All List Goes Here</h1>

<div class="row">	
		<ul class="list-group">
		{{#each bookings as |booking|}}
			<li class="list-group-item" style="overflow: hidden;">				
				<div class="col-lg-3">
					<span class="badge pull-right">{{booking.start_at}}</span>
				</div>
				<div class="col-lg-3">
					<span class="badge pull-right">{{booking.client_email}}</span>
				</div>
				<div class="col-lg-3">
					<span class="badge pull-right">{{booking.end_at}}</span>
				</div>
				<div class="col-lg-3">
					<span class="badge pull-right">{{booking.price}}</span>
				</div>				
			</li>
		{{/each}}
	</ul>	
</div>

<div class="col-lg-6 pull-right">
	{{#link-to 'rentals.booking.new' bookings class='btn btn-default'}} New Booking {{/link-to}}
</div>