<div class="row">
	<h1> Rentals </h1>
		<ul class="list-group">
		{{#each rentals as |rental|}}
			<li class="list-group-item" style="overflow: hidden;">
				<div class="col-lg-6">
					{{#link-to "rentals.show" rental.id }}{{rental.name}}{{/link-to}}
				</div>
				<div class="col-lg-1">
					<span class="badge pull-right">{{rental.daily_rate}}</span>
				</div>
				<div class="col-lg-1 pull-right">
					{{#link-to "rentals.edit"  rental.id}} Edit {{/link-to}}
				</div>
				<div class="col-lg-4 pull-right">					
					{{#link-to 'rentals.booking.list' rental }} Show all Bookings {{/link-to}}
				</div>
			</li>
		{{/each}}
	</ul>
</div>
<div class="col-lg-5 col-lg-offset-3">
	{{#link-to 'rentals.new' tagName="button" class='btn btn-default'}} New Rental {{/link-to}}
</div>
<div class="col-lg-4 col-lg-offset-3">
	{{outlet}}
</div>