<div class="row">
	{{#each rentals as |rental|}}
		<div class="col-lg-4">
			<div class="panel panel-default panel-success">
				<div class="panel-heading">		
					<h4 class="panel-title">
						{{rental.name}}
					</h4>
				</div>	
				<div class="panel-body">{{rental.daily_rate}}</div>
				<div class="panel-footer"  style="overflow: hidden;">
					<span>
						{{#link-to "bookings" rental.id }} Bookings {{/link-to}}
					</span>
					<span class="pull-right">
						{{#link-to "rentals.edit"  rental.id  class='btn btn-primary btn-xs'}} Edit {{/link-to}}
						<button class="btn btn-danger btn-xs" {{action 'deleteRental' rental}}>Delete</button>
					</span>
				</div>
			</div>		
		</div>
	{{/each}}
</div>