{{#liquid-bind model class="liquid-monster" as |newMonster|}}
  <div class="monster-card">
    <span class="name">{{newMonster.name}}</span>
    <span class="pull-right level">Name: {{newMonster.level}}</span>
	<span class="pull-right level">Daily Rate: {{newMonster.daily_rate}}</span>
   </div>
{{/liquid-bind}}
