<p>
  <strong>First name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Last name:</strong>
  <span>{{model.daily_rate}}</span>
</p>

<div class="col-lg-6 pull-left">
	<button {{action 'destroyRental'}}> Destroy Rental</button>
</div>


<div class="col-lg-6 pull-right">
	{{#link-to 'rentals.booking.list' rental model}} Show all {{model.name}} Bookings {{/link-to}}
</div>