<p>
  <strong>First name:</strong>
  <span>{{rental.name}}</span>
</p>

<p>
  <strong>Last name:</strong>
  <span>{{rental.daily_rate}}</span>
</p>

<div class="col-lg-6 pull-left">
	<button class='btn btn-primary' {{action 'destroyRental'}}> Destroy Rental</button>
</div>


<div class="col-lg-6 pull-right">	
	{{#link-to 'rentals.booking.bookings' rental.rental_id class='btn btn-default'}} Show all Bookings {{/link-to}}
</div>